.register-container {
    background: #ffffff;
    width: 100%;
    position: relative;
  }
  
  .register-container .left-side {
      background: #275c6f;
      width: 40%;
      height: 1024px;
      height: fit-content;
      position: relative;
      overflow: hidden;
      text-align: center;
      padding-bottom: 100px;
      padding-bottom: 250px;
  }
  
  .register-container .r-left-side {
      background: #275c6f;
      width: 40%;
      height: 1024px;
      height: fit-content;
      position: relative;
      overflow: hidden;
      text-align: center;
      padding-bottom: 270px;
  }
  
  .reg-form-container .dash-left-side {
      width: 10%;
      overflow: visible;
  }
  
  .r-left-side p {
      text-align: left;
      font-family: "Roboto-Bold", sans-serif;
      font-size: 42px;
      line-height: 52px;
      font-weight: 700;
      display: block;
      /* width: 448px; */
      width: 80%;
      margin: 190px auto 0 auto;
      color: white;
  }
  
  .left-side p {
      text-align: left;
      font-family: "Roboto-Bold", sans-serif;
      font-size: 42px;
      line-height: 52px;
      font-weight: 700;
      display: block;
      /* width: 448px; */
      width: 80%;
      margin: 60px auto 0 auto;
      color: white;
  }
  
  .login-side p {
      margin-top: 150px;
  }

  .r-left-side span {
    color: #ffa76d;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
}

.left-side span {
    color: #ffa76d;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
}

.r-left-side .refer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 448px;
    height: 281px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 140px auto 0 auto;
    /* margin: 140px 0 0 30px; */
    text-align: center;
}

.left-side .refer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 448px;
    height: 281px;
    position: relative;
    overflow: hidden;
    display: block;
    /* margin: 120px 0 0 30px; */
    margin: 120px auto 0 auto;
    text-align: center;
}

.r-refer img {
    background: #275c6f;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: 20px;
}

.refer img {
    background: #275c6f;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: 20px;
}

.r-left-side .refer-text {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    position: relative;
    display: block;
    margin: 10px auto 0 auto;
}

.refer .refer-text {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    position: relative;
    display: block;
    margin: 10px auto 0 auto;
}

.r-left-side .refer-subtext {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    position: relative;
    width: 80%;
    margin: 12px 0 0 40px;
    display: block;
    margin: 10px auto 0 auto;
}

.refer .refer-subtext {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    position: relative;
    width: 80%;
    margin: 12px 0 0 40px;
    display: block;
    margin: 10px auto 0 auto;
}

.r-left-side .refer-btn {
    display: block;
    background: #275c6f;
    border-radius: 8px;
    padding: 12px;
    width: 132px;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    margin: 40px auto 0 auto;
}

.left-side .refer-btn {
    display: block;
    background: #275c6f;
    border-radius: 8px;
    padding: 12px;
    width: 132px;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    margin: 40px auto 0 auto;
}

.register-container .right-side {
    background: #ffffff;
    width: 60%;
    /* height: 2024px; */
    height: fit-content;
    position: relative;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0px;
}

.right-side .form-title {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin: 90px 0 0 20px;
}

.form-title .title {
    display: block;
    color: #000000;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 32px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
}

.form-title .sub-title {
    display: block;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    margin-top: -40px;
}

.right-side .reg-form-container {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}

.reg-form-container form {
    padding-bottom: 90px;
}

.reg-form-container form .col-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 400px;
}

.col-1 label {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    margin-bottom: -20px;
}

.col-1 input[type=text], input[type=email] {
    border-radius: 8px;
    border-style: solid;
    border-color: #cfcfcf;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 90%;
    height: 48px;
    font-size: 16px;
    position: relative;
    padding: 0 10px;
}

.password-container {
    width: 100%;
    position: relative;
}

.password-container input[type=password] {
    border-radius: 8px;
    border-style: solid;
    border-color: #cfcfcf;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 90%;
    height: 48px;
    font-size: 16px;
    position: relative;
    padding: 0 10px;
}

.password-toggle {
    cursor: pointer;
    margin-right: 30px;
    position: absolute;
    top: 15px;
    right: 0px;
}

form .finish-next-btn button {
    background: #275c6f;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 48px;
    position: absolute;
    bottom: 0px;
    right: 35px;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .register-container {
        /* display: block; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 98%;
        position: inherit;
        margin-bottom: 100px;
    }  
    .right-side .reg-form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        margin-left: 25px;
        margin-top: 70px;
        width: 90%;
    }

    .reg-form-container form {
        width: 310px;
        max-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: -25px;
        margin-top: -55px;
    }

    .right-side .form-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 80%;
        margin-top: 30px;
        margin-left: 15px;
        padding-left: 0;
    }

    .form-title .title {
        color: #000000;
        text-align: left;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 20px;
        line-height: 120%;
        font-weight: 700;
        position: relative;
        margin-bottom: 40px;
    }

    .form-title .sub-title {
        color: #495057;
        text-align: left;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 13px;
        line-height: 120%;
        font-weight: 400;
        position: relative;
        align-self: stretch;
    }

    form .next-btn button {
        background: #275c6f;
        color: #ffffff;
        border-radius: 8px;
        padding: 8px;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 48px;
        position: absolute;
        bottom: 0px;
        left: 20px;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .register-container .left-side {
        display: none;
    }

    .register-container .r-left-side {
        display: none;
    }

    .mobile-side {
        display: none;
        width: 100%;
        background: #275c6f;
        height: 53%;
        margin: 0px auto 0 auto;
        text-align: center;
        position: relative;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .register-container .right-side {
        display: block;
        width: 100%;
        height: 53%;
        border-radius: 12px;
        margin: 0px auto 0 auto;
        text-align: center;
        position: inherit;
        margin-top: 50px;
    }

    .col-1 label {
        /* margin-bottom: 0px;
        font-size: 16px; */

        color: #000000;
        text-align: left;
        font-family: var(--mobile-h5-font-family, "Roboto-Regular", sans-serif);
        font-size: var(--mobile-h5-font-size, 20px);
        line-height: var(--mobile-h5-line-height, 120%);
        font-weight: var(--mobile-h5-font-weight, 400);
        position: relative;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .register-container {
        /* display: block; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        position: inherit;
        margin-bottom: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }  
    .right-side .reg-form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        margin-left: 25px;
        margin-top: 70px;
        width: 90%;
    }

    .reg-form-container form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: -25px;
        /* margin-top: -55px; */
    }

    .right-side .form-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 80%;
        margin-top: 30px;
        margin-left: 15px;
        padding-left: 0;
    }

    .form-title .title {
        color: #000000;
        text-align: left;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 20px;
        line-height: 120%;
        font-weight: 700;
        position: relative;
        margin-bottom: 40px;
    }

    .form-title .sub-title {
        color: #495057;
        text-align: left;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 13px;
        line-height: 120%;
        font-weight: 400;
        position: relative;
        align-self: stretch;
    }

    form .next-btn button {
        background: #275c6f;
        color: #ffffff;
        border-radius: 8px;
        padding: 8px;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 48px;
        position: absolute;
        bottom: 0px;
        left: 20px;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .register-container .left-side {
        display: none;
    }

    .register-container .r-left-side {
        display: none;
    }

    .mobile-side {
        display: none;
        width: 100%;
        background: #275c6f;
        height: 53%;
        margin: 0px auto 0 auto;
        text-align: center;
        position: relative;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .register-container .right-side {
        display: block;
        width: 100%;
        height: 53%;
        border-radius: 12px;
        margin: 0px auto 0 auto;
        text-align: center;
        position: inherit;
        margin-top: 50px;
    }

    .col-1 label {
        /* margin-bottom: 0px;
        font-size: 16px; */

        color: #000000;
        text-align: left;
        font-family: var(--mobile-h5-font-family, "Roboto-Regular", sans-serif);
        font-size: var(--mobile-h5-font-size, 20px);
        line-height: var(--mobile-h5-line-height, 120%);
        font-weight: var(--mobile-h5-font-weight, 400);
        position: relative;
    }
}