
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.small-screen-navbar {
    background-color: #000000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.1);
}

.small-screen-navbar .logo {
  display: flex;
  flex-direction: row;
  width: 70px;
  height: 50px;
  margin-left: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin: 0;
    padding: 0;
    margin-left: 130px;
}

.nav-list li {
    width: 127px;
    padding: 8px 16px 8px 16px;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 19px;
}

.nav-list a:hover {
  color: #ffa76d;
}

.nav-list .active {
  color: #ffa76d;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.header-cta-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }

  .sign-up2 {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    border-radius: 8px;
    border-style: solid;
    border-color: #275c6f;
    border-width: 1px;
    /* padding: 8px; */
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 124px;
    position: relative;
  }

  .r-sign-up2 {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    border-radius: 8px;
    background-color: black;
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 124px;
    position: relative;
  }

  .log-in {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    background:#275c6f;
    border-radius: 8px;
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 124px;
    position: relative;
  }

  .r-log-in {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    background: black;
    border-radius: 8px;
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 124px;
    position: relative;
  }

  .top-right .profile {
    flex-shrink: 0;
    width: 180px;
    height: 64px;
    position: absolute;
    right: 20px;
    top: 16px;
}

.top-right .profile img {
    border-radius: 100px;
    width: 54px;
    height: 54px;
    overflow: hidden;
    object-fit: cover;
    text-decoration: none;
}

.top-right .name {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 38px;
    position: absolute;
    right: 20px;
    top: 16px;
}

.top-right .name a  {
    color: black;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 13px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    text-decoration: none;
}

.dropdown {
    position: relative;
    z-index: 1000;
    margin-left: 20px;
  }

  .dropdown a {
    color: black;
    text-decoration: none;
  }

  .dropdown button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    right: -20px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Roboto-Regular", sans-serif;
    line-height: 140%;
    font-weight: 400;
    z-index: 1000;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

/* hero section */
/* .hero-container {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  padding-top: 82px;
  padding-bottom: 60px;
  width: 100%;
}

.hero-sub-container {
  width: 92%;
  max-width: 1200px;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
}

.hero-container .hero {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 520px;
  position: relative;
  overflow: hidden;
  margin-top: 80px;

}

.hero-container .hero-writeup-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: -60px;
  left: 0px;
  width: 100%;
}

.hero-container .hero-writeup-container .welcome {
  color: #ffffff;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 700;
}

.hero-writeup-container span {
  color: #ffa76d;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
}

.hero-writeup-container .unlock-your-potential {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 33px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  width: 563px;
  margin-top: -80px;
}

.hero-writeup-container .sub-text {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  margin-top: -70px;
  width: 560px;
}

.apply-now {
  background: #275c6f;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 124px;
  height: 48px;
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  margin-top: -30px;
}

.hero-image {
  height: 593px;
  position: relative;
  object-fit: contain;
  margin-left: -220px;
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

}

.hero-image img {
  height: 510px;
  position: relative;
  object-fit: contain;
}

.nav-list .mobile-cta {
display: none;
} */

/* Styly for Our Partnership */
.partners-section {
display: block;
width: 100%;
height: 293px;
background-color: #f5f5f5;
/* overflow: hidden; */
text-align: center;
position: relative;
margin-top: 0;
}

.partners-section .our-partnerships {
  display: block;
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 400;
  font-family: "Roboto-SemiBold", sans-serif;
  line-height: 72px;
  font-weight: 400;
  margin: 60px auto 0px auto; 
}

.partners-section .renmoney {
  width: 205.02px;
  height: 97px;
  position: absolute;
  left: 114.99px;
  top: 170px;
  object-fit: cover;
}

.partners-section .clan {
  width: 134px;
  height: 62px;
  position: absolute;
  left: 534px;
  top: 187px;
  object-fit: cover;
}

.partners-section .lease {
  width: 200px;
  height: 90px;
  position: absolute;
  left: 872px;
  top: 170px;
  object-fit: cover;
}


/* Style for the product features skills */
.product-features-section,
.product-features-section * {
  box-sizing: border-box;
}

.product-features-section {
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.key-features-title {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feauture-section {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  margin-top: -50px;
}

.features-single {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #ced4da;
  border-width: 1px;
  flex-shrink: 0;
  width: 324px;
  height: 332px;
  position: relative;
  overflow: hidden;
}

.features-single .inner-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 18px;
  top: 40px;
}

.inner-box .features-section-image {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.inner-box .features-title {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 19px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  margin-top: -15px;
}

.inner-box .feature-sub-title {
  color: #495057;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  width: 288px;
  margin-top: -25px;
}

.inner-box .features-btn {
  background: #275c6f;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 120px;
  position: relative;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: -20px;
}

/* Style for value preposition section */
.value-proposition-section {
  display: block;
  width: 92%;
  margin: 0 auto;
  text-align: center;
}

.value-proposition-section p {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 400;
}

.value-proposition-section .value-discover {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;

}

.value-discover {
  vertical-align: middle;
  margin-bottom: 60px;
}

.value-image img {
  background: linear-gradient(to left, #ced4da, #ced4da);
  border-radius: 7.17px;
  flex-shrink: 0;
  width: 510px;
  height: 430px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.discover-details {
  vertical-align: middle;
}

.discover-details .title {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 40px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

.discover-details .sub-title {
  color: #495057;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  margin-top: -30px;
}

.discover-details .btn {
  background: #275c6f;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 120px;
  height: 48px;
  color: #ffffff;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  margin-top: 30px;
}

/* Style for call to action section */
.cta-container {
  background-image: url("img/CTA-deem\ image.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.cta-container .cta-contents {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  margin-top: 90px;
}

.cta-contents .title {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 700;
  position: relative;
}

.cta-contents .sub-title {
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  width: 1022px;
  color: #ffffff;
  margin-top: -40px;
  margin-bottom: 40px;
}

.cta-contents span {
  color: #ffa76d;
}

.cta-contents .btn {
  background: #275c6f;
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 184px;
  height: 48px;
  position: relative;
  font-size: 19px;
  line-height: 140%;
  font-weight: 400;
  text-decoration: none;       
}

/* Style for Testimonia Section */
.beneficiaries-section {
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.beneficiaries-section .title {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}

.beneficiaries-row {
  display: flex;
  flex-direction: row;
  gap: 148px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.beneficiaries-row-2 {
  display: flex;
  flex-direction: row;
  gap: 39px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.beneficiaries-row .box {
  display: block;
  background: rgba(251, 232, 219, 0.4);
  border-radius: 8px;
  width: 401px;
  height: 220px;
  margin-bottom: 30px;
}

.beneficiaries-row-2 .box {
  display: block;
  background: rgba(251, 232, 219, 0.4);
  border-radius: 8px;
  width: 401px;
  height: 220px;
  margin-bottom: 30px;
}

.box .title {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
}

.title img {
border-radius: 50%;
flex-shrink: 0;
width: 64px;
height: 64px;
position: relative;
object-fit: cover;
}

.title .name-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.name-box .name {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}

.name-box .position {
  color: #495057;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  margin-top: -10px;
}

.box .sub-text {
  margin-left: 20px;
}

.sub-text p {
  color: #495057;
text-align: left;
font-family: "Roboto-Regular", sans-serif;
font-size: 11px;
line-height: 140%;
font-weight: 400;
position: relative;
width: 354px;
}

.sub-text img {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

/* Style for Frequently Asked Questions */
.faq-questions {
  display: block;
  width: 90%;
  margin: 0 auto 200px auto;
  text-align: center;
}

.faq-questions .title {
  color: #000000;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 48px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
}

.accordion {
  display: block;
  margin: 0 auto;
  width: 797px;
  height: 156px;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background: #f6fafe;
  border-radius: 8px;
  border-style: solid;
  border-color: #ced4da;
  border-width: px;
  position: relative;
  gap: 16px;
  text-align: left;
}

.accordion-header {
  background-color: #f6fafe;
  padding: 10px;
  cursor: pointer;
  height: 36px;
  color: #000000;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 19px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  padding: 20px 0 10px 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.accordion-header .arrow {
  position: absolute;
  top: 20px;
  right: 30px;
}

.active .arrow {
  font-family: "Roboto-Regular", sans-serif;
  transform: rotate(180deg);
}

.accordion-content {
  display: none;
  padding: 10px;
  color: #495057;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 13px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  width: 756px;
  padding-left: 20px;
}

.accordion-item.active .accordion-content {
  display: block;
}

/* Style for Footer Section */
.footer-container {
  display: block;
  background: #000000;
  width: 100%;
  height: 328px;
  position: relative;
  overflow: hidden;
  margin-top: 70px;
}

.footer-container .col-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 444px;
  position: absolute;
  left: 80px;
  top: 72px;
}

.col-1 .logo-title {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.logo-title img {
  width: 127px;
  height: 75px;
  position: relative;
  object-fit: cover;
}

.logo-title .logo-text {
  color: #ffa76d;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  position: relative;
  margin-top: -15px;
  margin-bottom: -10px;

}

.col-1 .sub-text {
  color: #f5f5f5;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}

.footer-container .col-2 {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  right: 50px;
  top: 50px;
}

.col-2 .contact-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.col-2 .about-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.contact-links p, .about-links p {
  color: #f5f5f5;
  text-align: left;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 23px;
  line-height: 140%;
  font-weight: 700;
  position: relative;
  margin-bottom: -6px;
}

.contact-links a, .about-links a {
  color: #f5f5f5;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  text-decoration: none;
}


@media (max-width: 768px) {
.small-screen-navbar {
  /* background-color: #000000;
  padding: 30px 15px; */
  box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.1);

  background: #275c6f;
  padding: 4px 16px 4px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  position: sticky;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
}

.small-screen-navbar .logo {
  width: 127px;
  height: 35px;
  margin-top: 0px;
  margin-left: 30px;
}

.nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 64px;
    right: 0px;
    background-color: #333;
    z-index: 1000;
    border: 1px solid black;
}

.nav-list.show {
    display: flex;
    width: 50%;
    height: 80%;
    padding-top: 40px;
    z-index: 1000;
    height: 600px;
}

.menu-toggle {
  display: block;
  display: flex;
  position: absolute;
  top: 20px;
  left: 10px;
}

.bar {
  height: 2px;
  width: 24px;
  background-color: white;
  margin: 3px 0;
}

.nav-list li {
    margin: 0;
    text-align: left;
    margin-left: 20px;
    font-size: 22px;
    margin: 10px 0 10px 20px;
    z-index: 1;
}

.nav-list a {
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
}
.nav-list .mobile-cta {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  line-height: 19px;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  border-radius: 8px;
  border-style: solid;
  border-color: #275c6f;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 94px;
  height: 38px;
  position: relative;
  }

  .nav-list .mobile-cta a {
    font-size: 16px;
  }

.header-cta-container {
  display: flex;
  gap: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-cta-container .sign-up2 {
  border-radius: 8px;
  border-style: solid;
  border-color: #ffa76d;
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  background-color: transparent;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 45px;
  height: 15px;
  position: relative;
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
}

.header-cta-container .log-in {
  background: #ffa76d;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 45px;
  height: 15px;
  position: relative;
  color: var(--neutral-600, #ffffff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 120%;
  font-weight: 400;
}

.header-cta-container .r-sign-up2 {
  border-radius: 8px;
  border-style: solid;
  border-color: #ffa76d;
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  background-color: transparent;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 45px;
  height: 15px;
  position: relative;
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
}

.header-cta-container .r-log-in {
  background: #ffa76d;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 45px;
  height: 15px;
  position: relative;
  color: var(--neutral-600, #ffffff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 120%;
  font-weight: 400;
}

.small-screen-navbar .top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

.top-right .profile {
  position: absolute;
  top: 0;
  right: 0;
}

.top-right .profile img {
  position: absolute;
  top: 20px;
  left: 40px;
  border-radius: 100px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 5px;
}

.dropdown-content {
  top: 35px;
}

.top-right .name {
  position: absolute;
  top: 0;
  right: 0;
}

.top-right .name a {
  color: #ffffff;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 12px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Mobile style for hero section */
/* .hero-container {
  width: 100%;
  height: 400px;
  position: relative;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.hero-container .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  position: relative;
  margin-left: 0;

}

.hero-container .hero-writeup-container {
  display: block;
  width: 100%;
  margin: 20px auto;

}

.hero-container .hero-writeup-container .welcome {
  display: block;
  width: 100%;
  font-size: 32px;
  line-height: 140%;
}

.hero-writeup-container span {
  font-size: 32px;
}

.hero-writeup-container .unlock-your-potential {
  display: block;
  width: 98%;
  font-size: 30px;
  margin-top: -20px;
  font-size: 26px;
}

.hero-writeup-container .sub-text {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 140%;
  text-align: left;
  margin-top: -10px;
}

.hero-writeup-container .hero-cta {
  margin-top: 30px;
}

.hero-cta a {
  height: 25px;
}

.hero-container .hero-image {
  display: none;
  width: 100%;
  margin: 0 auto;
  position: relative;

} */

/* Mobile style for Our Partnership */
.partners-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  height: fit-content;
  text-align: center;
  position: relative;
}

.partners-section .our-partnerships {
  font-size: 32px;
}

.partners-section .renmoney {
  display: block;
  width: 50%;
  margin: 40px auto;
  text-align: center;
  position: initial;
}

.partners-section .clan {
  display: block;
  width: 50%;
  margin: 40px auto;
  text-align: center;
  position: initial;
}

.partners-section .lease {
  display: block;
  /* width: fit-content; */
  width: 60%;
  height: 100px;
  margin: 40px auto;
  text-align: center;
  position: initial;
}

/* Style for the product features skills */
.product-features-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.key-features-title {
  font-size: 32px;
}

.feauture-section  {
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.feauture-section .features-single {
  width: 98%;
}

.inner-box .feature-sub-title {
  display: block;
  width: fit-content;
}

/* Style for value preposition section */
.value-proposition-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value-proposition-section p {
  font-size: 32px;
}

.value-proposition-section .value-discover {
  display: block;
  width: 90%;
  margin: 0 auto 0 auto;
}

.value-image img {
  width: 97%;
  height: 250px;
}

.discover-details .title {
  font-size: 32px;
}

.discover-details .up {
  margin-bottom: 50px;
}

.value-up img {
  margin-bottom: 30px;
}

.up .btn {
  margin-bottom: 40px;
}

/* Stle for call to action section */
.cta-container {
  background-position-x: center;
}

.cta-container .cta-contents {
  margin-top: 30px;
}

.cta-contents .title {
  font-size: 32px;
  text-align: center;
}

.cta-contents .sub-title {
  width: 90%;
  text-align: center;
}

.cta-contents .btn {
  margin-top: -30px;
}

/* Mobile Style for Testimonia Section */
.beneficiaries-section .title {
  font-size: 32px;
}

.beneficiaries-row {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.beneficiaries-row-2 {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.beneficiaries-row .box {
  width: 100%;
}

.beneficiaries-row-2 .box {
  width: 100%;
}

.box .sub-text p {
  width: 90%;
}

/* Mobile Style for Frequently Asked Questions */
.faq-questions {
  height: 400px;
}
.faq-questions .title {
  font-size: 32px;
}

.accordion {
  width: 95%;
}

.accordion-header {
  font-size: 18px;
  width: 85%;
  padding: 20px 0 10px 20px;
}

.header-pad {
  padding-bottom: 30px;
}

.accordion-header .arrow {
  top: 20px;
  right: -20px;
}

.accordion-content {
  width: fit-content;
}

/* Mobile Style for Footer Section */
.footer-container {
  margin-top: -40px;
  height: fit-content;
  padding-bottom: 40px;
}

.footer-container .col-1 {
  position: initial;
  display: block;
  width: 90%;
  margin-left: 15px;
  margin-top: 20px;
}

.logo-title .logo-text {
  font-size: 32px;
}

.footer-container .col-2 {
  position: initial;
  display: block;
  margin-left: 15px;
}

.contact-links p, .about-links p {
  font-size: 20px;
}
}
