body {
    margin: 0;
    padding: 0;
}

.mobile-side {
    display: none;
}

.register-container {
  background: #ffffff;
  width: 100%;
  position: relative;
}

.register-container .left-side {
    background: #275c6f;
    width: 40%;
    height: 1024px;
    height: fit-content;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-bottom: 100px;
    padding-bottom: 250px;
}

.register-container .r-left-side {
    background: #275c6f;
    width: 40%;
    height: 1024px;
    height: fit-content;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding-bottom: 270px;
}

.reg-form-container .dash-left-side {
    width: 10%;
    overflow: visible;
}

.r-left-side p {
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    display: block;
    /* width: 448px; */
    width: 80%;
    margin: 190px auto 0 auto;
    color: white;
}

.left-side p {
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
    display: block;
    /* width: 448px; */
    width: 80%;
    margin: 60px auto 0 auto;
    color: white;
}

.login-side p {
    margin-top: 150px;
}

.finish-side p {
    margin-top: 150px;
}

.verify-side p {
    margin-top: 150px;
}

.confirm-side p {
    margin-top: 150px;
}

.welcome-side p {
    margin-top: 150px;
}

.choose-side {
    padding-top: 100px;
}

.left-side .welcome-sub-text {
    color:#ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 33px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    width: 374px;
    margin-top: 0px;
}

.r-left-side span {
    color: #ffa76d;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
}

.left-side span {
    color: #ffa76d;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 48px;
    line-height: 72px;
    font-weight: 700;
}

.r-left-side .refer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 448px;
    height: 281px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: 140px auto 0 auto;
    /* margin: 140px 0 0 30px; */
    text-align: center;
}

.left-side .refer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    width: 448px;
    height: 281px;
    position: relative;
    overflow: hidden;
    display: block;
    /* margin: 120px 0 0 30px; */
    margin: 120px auto 0 auto;
    text-align: center;
}

.r-refer img {
    background: #275c6f;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: 20px;
}

.refer img {
    background: #275c6f;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-top: 20px;
}

.r-left-side .refer-text {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    position: relative;
    display: block;
    margin: 10px auto 0 auto;
}

.refer .refer-text {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    position: relative;
    display: block;
    margin: 10px auto 0 auto;
}

.r-left-side .refer-subtext {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    position: relative;
    width: 80%;
    margin: 12px 0 0 40px;
    display: block;
    margin: 10px auto 0 auto;
}

.refer .refer-subtext {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    position: relative;
    width: 80%;
    margin: 12px 0 0 40px;
    display: block;
    margin: 10px auto 0 auto;
}

.r-left-side .refer-btn {
    display: block;
    background: #275c6f;
    border-radius: 8px;
    padding: 12px;
    width: 132px;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    margin: 40px auto 0 auto;
}

.left-side .refer-btn {
    display: block;
    background: #275c6f;
    border-radius: 8px;
    padding: 12px;
    width: 132px;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    position: relative;
    text-decoration: none;
    margin: 40px auto 0 auto;
}

.register-container .right-side {
    background: #ffffff;
    width: 60%;
    /* height: 2024px; */
    height: fit-content;
    position: relative;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0px;
}

.right-side .form-title {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin: 90px 0 0 20px;
}

.form-title .title {
    display: block;
    color: #000000;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 32px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
}

.form-title .sub-title {
    display: block;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    margin-top: -40px;
}

.right-side .reg-form-container {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 90px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}

.reg-form-container form {
    padding-bottom: 90px;
}

.reg-form-container form .col-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 400px;
}

.col-1 label {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    margin-bottom: -20px;
}

.col-1 input[type=text], input[type=email] {
    border-radius: 8px;
    border-style: solid;
    border-color: #cfcfcf;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 90%;
    height: 48px;
    font-size: 16px;
    position: relative;
    padding: 0 10px;
}

.col-1 select {
    border-radius: 8px;
    border-style: solid;
    border-color: #cfcfcf;
    border-width: 1px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 90%;
    height: 48px;
    position: relative;
}

.reg-form-container .institution {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.reg-form-container form .col-2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 300px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.col-2 input[type=text], input[type=email], input[type=password] {
    border-radius: 8px;
    border-style: solid;
    border-color: #cfcfcf;
    border-width: 1px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    width: 90%;
    height: 48px;
    position: relative;
}

.col-2 select {
    border-radius: 8px;
    border-style: solid;
    border-color: #cfcfcf;
    border-width: 1px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 226px;
    height: 48px;
    position: relative;
    margin-bottom: 4px;
}

.col-2 label {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    margin-bottom: -20px;
}

form .next-btn button {
    background: #275c6f;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 48px;
    position: absolute;
    bottom: 0px;
    right: 50px;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
}


/* Style for finishing registration */
form .previous-btn button {
    background: #275c6f;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 48px;
    position: absolute;
    bottom: 0px;
    left: 10px;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
}

form .previous-btn a {
    background: #275c6f;
    color: #ffffff;
    border-radius: 8px;
    padding: 12px 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 135px;
    /* height: 48px; */
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

}

form .finish-next-btn button {
    background: #275c6f;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 48px;
    position: absolute;
    bottom: 0px;
    right: 90px;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
}

.password-toggle {
    cursor: pointer;
    margin-right: 30px;
}

#passwordCheck {
    color: red;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.finish-container form .col-1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 95%;
}

.finish-container form {
    width: 95%;
}

/* Style for verifying */
.right-side .verify-container {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 623px;
    position: relative;
    margin-top: 30px;
}

.verify-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.verify-container form {
    width: 100%;
}

form .verify-top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    margin-bottom: 96px;
}

form .password-container {
    display: flex;
    width: 100%;
    position: relative;
}

.password-container span {
    position: absolute;
    top: 15px;
    right: 20px;
}

.verify-top .title {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 42px;
    line-height: 72px;
    font-weight: bold;
    position: relative;
    width: 100%;
}

.verify-top .sub-title {
    display: block;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    margin-top: -40px;
}

.verify-top .code {
    width: 10%;
    display: flex;
    width: 100%;
}

.code input[type=text] {
    border-radius: 8px;
    border-style: solid;
    border-color: #cfcfcf;
    border-width: 1px;
    padding: 50px 0;
    margin: 0 5px;
    text-align: center;
    font-size: 28px;
    width: 20%;
}

.confirm-btn button {
    background: #275c6f;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    width: 87%;
    height: 48px;
    text-align: center;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-top: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.confirm-success {
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #275c6f;
}

/* syle for confirmation */
form .confirm-box {
    padding: 0px 16px 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    /* width: 752px; */
    width: 90%;
    position: relative;
    margin-top: 170px;
    margin-left: 20px;
 }

 .confirm-box img {
    flex-shrink: 0;
    width: 258px;
    height: 258px;
    position: relative;
    overflow: visible;
 }

 .confirm-box p {
    color: #495057;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    margin-top: -10px;
 }

 .confirm-box button {
    display: block;
    background: #275c6f;
    color: #ffffff;
    border-radius: 8px;
    padding: 8px;
    width: 97%;
    height: 48px;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 19px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
 }

 /* style for small screen devices */
@media (max-width: 768px) {
    .register-container {
        /* display: block; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 98%;
        position: inherit;
    }  
    .reg-form-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .reg-form-container form {
        width: 310px;
        max-width: 320px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: -25px;
        margin-top: -55px;
    }

    .right-side .form-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 80%;
        margin-top: 30px;
        margin-left: 15px;
        padding-left: 0;
    }

    .form-title .title {
        color: #000000;
        text-align: left;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 20px;
        line-height: 120%;
        font-weight: 700;
        position: relative;
        margin-bottom: 40px;
    }

    .form-title .sub-title {
        color: #495057;
        text-align: left;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 13px;
        line-height: 120%;
        font-weight: 400;
        position: relative;
        align-self: stretch;
    }

    form .next-btn button {
        background: #275c6f;
        color: #ffffff;
        border-radius: 8px;
        padding: 8px;
        align-items: center;
        justify-content: center;
        width: 135px;
        height: 48px;
        position: absolute;
        bottom: 0px;
        left: 20px;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        outline: none;
        border: none;
        cursor: pointer;
    }

    .register-container .left-side {
        display: none;
    }

    .register-container .r-left-side {
        display: none;
    }

    .mobile-side {
        display: none;
        width: 100%;
        background: #275c6f;
        height: 53%;
        margin: 0px auto 0 auto;
        text-align: center;
        position: relative;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .mobile-side p {
        display: block;
        color: white;
        font-size: 32px;
        line-height: 52px;
        width: 90%;
        font-weight: 700;
        margin: 20px auto 0 auto;
    }

    .mobile-side span {
        color: #ffa76d;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 32px;
        line-height: 72px;
        font-weight: 700;
    }

    .mobile-side .mobile-refer {
        display: block;
        width: 95%;
        margin: 0 auto 20px auto;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        height: 281px;
        position: relative;
        overflow: hidden;
        margin: 30px auto 0 auto;
        text-align: center;
    }

    .mobile-refer img {
        background: #275c6f;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        margin-top: 20px;
    }

    .mobile-refer .refer-text {
        color: #ffffff;
        text-align: center;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 20px;
        line-height: 36px;
        font-weight: 700;
        position: relative;
        display: block;
        /* width: 100%; */
        margin: 10px auto 0 auto;
    }

    .mobile-refer .refer-subtext {
        color: #ffffff;
        text-align: center;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 14px;
        line-height: 21px;
        font-weight: 400;
        position: relative;
        width: 90%;
        margin: 12px 0 0 40px;
        display: block;
        margin: 10px auto 0 auto;
    }

    .mobile-refer .refer-btn {
        display: block;
        background: #275c6f;
        border-radius: 8px;
        padding: 12px;
        width: 132px;
        color: #ffffff;
        text-align: center;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        position: relative;
        text-decoration: none;
        margin: 20px auto 0 auto;
    }

    .left-side .refer {
        display: block;
        width: 90%;
        margin: 0 auto 20px auto;
    }

    .left-side .refer-btn {
        position: inherit;
    }

    .register-container .right-side {
        display: block;
        width: 100%;
        height: 53%;
        border-radius: 12px;
        margin: 0px auto 0 auto;
        text-align: center;
        position: inherit;
        margin-top: 50px;
    }

    .col-1 label {
        margin-bottom: 0px;
    }

    .col-2 label {
        margin-bottom: 0px;
    }

    .register-container .right-finish {
        margin-top: 50px;
        /* width: 100%; */
        /* width: 330px; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 90%;
    }

    .finish-container form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
        /* width: 100%; */
        margin-left: -15px;
    }

    form .f-col-1 {
        width: 100%;
    }

    .f-col-1 label {
        margin-left: -10px;
    }

    form .password-container {
        display: flex;
        width: 100%;
        position: relative;
    }

    .password-container input {
        margin-left: -10px;

    }

    .register-container .verify-mobile {
        margin-top: 0;
    }

    .register-container .confirm-mobile {
        margin-top: 0;
    }

    .form-title .title {
        margin-top: 0px;
    }

    /* .form-title .sub-title {
        margin-left: -10px;
    } */

    .right-side .reg-form-container {
        display: block;
        width: 85%;
        margin: -40px auto 60px auto;
        height: 53%;
        border-radius: 12px;
        text-align: center;
        position: relative;
    }

    .verify-top .title {
        font-size: 18px;
        margin-top: 30px;
        width: 100%;
    }

    .verify-top .sub-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #495057;
        /* text-align: left; */
        font-family: "Roboto-Medium", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        position: relative;
        margin-top: -40px;

    }

    .reg-form-container form {
        display: block;
        position: inherit;
        text-align: left;
        padding: 40px 0;
    }

    .reg-form-container form .col-1 {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .col-1 input[type=text], input[type=email] {
        display: block;
        width: 90%;
    }

    .col-1 select {
        display: block;
        width: 90%;
    }

    .reg-form-container form .col-2 {
        display: block;
        width: 90%;
        /* height: 53%; */
        border-radius: 12px;
        margin: 0px auto 70px auto;
        text-align: center;
        position: relative;
    }

    .col-2 select, input[type=text], input[type=email], input[type=password]{
        display: block;
        position: inherit;
        width: 90%;
        margin-left: 0px;
    }

    .col-1 label, .col-2 label {
        display: block;
        margin-top: 25px;
        position: relative;
        font-weight: 600;
    }

    .col-2 select {
        display: block;
    }

    form .next-btn {
        display: block;
        position: inherit;
        margin-top: 0px;
    }

    form .previous-btn a {
        display: inline-block;
        position: absolute;
        bottom: -30px;
        left: 0px;
        width: 40%;
        text-align: center;
    }

    form .finish-next-btn button {
        display: inline-block;
        position: absolute;
        bottom: -30px;
        right: 0px;
        width: 45%;
    }

    .password-toggle {
        cursor: pointer;
        margin-right: 5px;
    }

    /* style for verifying email */
    .right-side .verify-container {
        display: block;
        width: 100%;
        /* height: 100%; */
        margin: -40px auto 20px -10px;
        text-align: center;
        padding-top: 70px;
        position: relative;
    }

    .verify-container form {
        display: block;
        width: 90%;
        margin: 0 auto;
        position: inherit;
    }

    form .code {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: -100px;
        margin-bottom: 50px;
    }

    .code input[type=text] {
        /* display: block; */
        font-size: 28px;
        height: 0px;
        padding: 35px 0;
        width: 62px;
        height: 0px;
    }

    .confirm-success {
        text-align: center;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #275c6f;
    }

    .confirm-btn button {
        width: 100%;
    }

    /* syle for confirmation */
    .confirm-container {
        margin-bottom: 100px;
    }

    .confirm-container .confirm-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .confirm-box .confirm-mobile-icon {
        width: 93.33px;
        height: 93.33px;
        position: relative;
        /* margin-top: 100px; */
    }

    .confirm-box p {
        color:#495057;
        text-align: center;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 18px;
        line-height: 120%;
        font-weight: 400;
        position: relative;
    }

    .confirm-box button {
        background: #275c6f;
        border-radius: 8px;
        padding: 8px 16px 8px 16px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        height: 48px;
        position: relative;
        color: #ffffff;
        text-align: left;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 23px;
        line-height: 120%;
        font-weight: 400;
    }

    #passwordCheck {
        color: red;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        text-align: center;
    }

}