/* .categories-container,
.categories-container * {
  box-sizing: border-box;
}
.categories-container {
  padding: 0px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 662px;
  position: relative;
  border: 1px solid black;
}
.courses-for-educators-container {
  border-style: solid;
  border-color: var(--primary-blue-400, #b4d6f8);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-1000008071 {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1167px;
  position: relative;
}
.courses-for-educators {
  color: var(--primary-blue-100, #275c6f);
  text-align: left;
  font-family: var(--desktop-h4-bold-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--desktop-h4-bold-font-size, 28px);
  line-height: var(--desktop-h4-bold-line-height, 140%);
  font-weight: var(--desktop-h4-bold-font-weight, 700);
  position: relative;
}
.nurture-your-teaching-practice-and-inspire-your-students {
  color: var(--neutral-300, #495057);
  text-align: left;
  font-family: var(--desktop-title-1-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--desktop-title-1-font-size, 19px);
  line-height: var(--desktop-title-1-line-height, 140%);
  font-weight: var(--desktop-title-1-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.courses-for-educators-body {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 209px;
  position: relative;
}
.microsoft-office-suite-image {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.microsoft-office-suite {
  background: var(--neutral-100, #000000);
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 34px;
  position: relative;
}
.microsoft-office-suite2 {
  color: var(--neutral-500, #f5f5f5);
  text-align: left;
  font-family: var(--desktop-h5-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--desktop-h5-font-size, 23px);
  line-height: var(--desktop-h5-line-height, 140%);
  font-weight: var(--desktop-h5-font-weight, 400);
  position: relative;
}
.google-suite-image {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.google-suite {
  background: var(--neutral-100, #000000);
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 34px;
  position: relative;
}
.google-suite2 {
  color: var(--neutral-500, #f5f5f5);
  text-align: left;
  font-family: var(--desktop-h5-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--desktop-h5-font-size, 23px);
  line-height: var(--desktop-h5-line-height, 140%);
  font-weight: var(--desktop-h5-font-weight, 400);
  position: relative;
}
.canva-for-educators-image {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.canva-for-educators {
  background: var(--neutral-100, #000000);
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 34px;
  position: relative;
}
.canva-for-educators2 {
  color: var(--neutral-500, #f5f5f5);
  text-align: left;
  font-family: var(--desktop-h5-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--desktop-h5-font-size, 23px);
  line-height: var(--desktop-h5-line-height, 140%);
  font-weight: var(--desktop-h5-font-weight, 400);
  position: relative;
} */


.tech-courses-container {
  background: var(--neutral-500, #f5f5f5);
  border-style: solid;
  border-color: var(--primary-blue-400, #b4d6f8);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1167px;
  height: 462px;
  position: relative;
}
.tech-courses-header {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 58px;
  position: relative;
}
.tech-courses {
  color: var(--neutral-300, #495057);
  text-align: left;
  font-family: var(--desktop-h4-bold-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--desktop-h4-bold-font-size, 28px);
  line-height: var(--desktop-h4-bold-line-height, 140%);
  font-weight: var(--desktop-h4-bold-font-weight, 700);
  position: relative;
}
.tech-courses-body {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1167px;
  height: 338px;
  position: relative;
}
.coming-soon {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  border-radius: 16px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.coming-soon2 {
  color: var(--neutral-400, #ced4da);
  text-align: left;
  font-family: var(--desktop-h1-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--desktop-h1-font-size, 48px);
  line-height: var(--desktop-h1-line-height, 140%);
  font-weight: var(--desktop-h1-font-weight, 400);
  position: relative;
}
.social-media-courses-container {
  background: var(--neutral-500, #f5f5f5);
  border-style: solid;
  border-color: var(--primary-blue-400, #b4d6f8);
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1167px;
  height: 462px;
  position: relative;
}
.social-media-courses-header {
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: 58px;
  position: relative;
}
.social-media-courses {
  color: var(--neutral-300, #495057);
  text-align: left;
  font-family: var(--desktop-h4-bold-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--desktop-h4-bold-font-size, 28px);
  line-height: var(--desktop-h4-bold-line-height, 140%);
  font-weight: var(--desktop-h4-bold-font-weight, 700);
  position: relative;
}
.social-media-courses-body {
  padding: 0px 16px 0px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1167px;
  height: 338px;
  position: relative;
}
