/* body {
    margin: 0;
    background-color: #ffffff;
  }
  
  .header {
    background: #ffffff;
    padding: 16px 80px 16px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  }
    .header .logo {
      display: flex;
      flex-direction: row;
      width: 70px;
      height: 50px;
      margin-left: 30px;
    }
  
    .header .nav-links {
      display: flex;
      flex-direction: row;
      gap: 16px;
      align-items: center;
      justify-content: flex-start;
      flex-shrink: 0;
      position: relative;
    }
  
    .nav-links i {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      position: relative;
      overflow: visible;
      color: black;
      margin-top: 15px;
    }
  
    .header .line {
      border-style: solid;
      border-color: #000000;
      border-width: 1px 0 0 0;
      flex-shrink: 0;
      width: 64px;
      height: 0px;
      position: relative;
      transform-origin: 0 0;
      transform: rotate(90deg) scale(1, 1);
      margin-top: -70px;
    }
  
    .header .top-right {
      flex-shrink: 0;
      width: 180px;
      height: 64px;
      position: relative;
      margin-right: -80px;
    }
  
    .top-right .profile-image {
      border-radius: 100px;
      width: 64px;
      height: 64px;
      position: absolute;
      left: -60px;
      top: 0px;
      overflow: hidden;
      object-fit: cover;
    }
  
    .top-right .student-name {
      padding: 8px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      justify-content: center;
      width: 120px;
      height: 38px;
      position: absolute;
      left: 7px;
      top: 0px;
    }
  
    .top-right .name {
      color: #495057;
      text-align: left;
      font-family: "Roboto-Bold", sans-serif;
      font-size: 13px;
      line-height: 140%;
      font-weight: 700;
      position: relative;
      align-self: stretch;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  
    .top-right .student-id {
      padding: 8px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      justify-content: center;
      height: 26px;
      position: absolute;
      left: 7px;
      top: 40px;
    }
  
    .student-id p {
      color: #ced4da;
      text-align: left;
      font-family: "Roboto-Regular", sans-serif;
      font-size: 11px;
      line-height: 140%;
      font-weight: 400;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  
    .top-right i {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      position: relative;
      overflow: visible;
      color: black;
      text-decoration: none;
    }
  
    .dropdown {
      position: relative;
      z-index: 1000;
      margin-left: 20px;
    }
  
    .dropdown a {
      color: black;
      text-decoration: none;
    }
  
    .dropdown button {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      right: -50px;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1000;
    }
  
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-family: "Roboto-Regular", sans-serif;
      line-height: 140%;
      font-weight: 400;
      z-index: 1000;
    }
  
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

@media only screen and (max-width: 767px) {
  .header {
    background-color: #ffffff;
    padding: 16px 80px 16px 80px;
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.1);
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .logo-link {
    display: block;
  }

  .header .logo {
    width: 77px;
    height: 30px;
    position: absolute;
    top: 24px;
    left: 50px;
  }

  .nav-links i {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 18px;
    z-index: 1000;
    color: black;
    position: absolute;
    top: 25px;
    right: 0px;
  }

  .nav-links a {
    text-decoration: none;
    color: black;
  }

  .header .line {
    display: none;
  }

  .header .top-right {
    position: relative;
    margin-left: 200px;
  }

  .top-right .profile-image {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 170px;
    margin-top: 20px;
  }

  .top-right .name {
    display: none;
  }

  .top-right .student-id {
    display: none;
  }

  .dropdown {
    display: block;
    position: absolute;
    top: 0;
    right: -80px;
  }

  .dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    right: 0;
    top: 70px;
  }

  .dropdown-content i {
    position: initial;
  }

  .dropdown-content a {
    display: flex;
  }
    } */

    .header * {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
    }
  
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }
    
    .small-screen-navbar {
        background-color: #ffffff;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1); 
        padding: 16px 80px 16px 80px;
    }
    
    .small-screen-navbar .logo {
      display: flex;
      flex-direction: row;
      width: 70px;
      height: 50px;
      margin-left: 40px;
    }
    
    .nav-list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        /* margin-left: 130px; */
        margin-left: -130px;
    }
    
    .nav-list li {
        width: 127px;
        padding: 8px 16px 8px 16px;
    }
    
    .nav-list a {
        text-decoration: none;
        color: white;
        font-size: 19px;
        text-align: center;
        font-family: "Roboto-Regular",sans-serif;
        font-size: 16px;
        line-height: 140%;
        font-weight: 400;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav-list a:hover {
      color: #ffa76d;
    }
    
    .nav-list .active {
      color: #ffa76d;
    }
    
    .menu-toggle {
        display: none;
        flex-direction: column;
        cursor: pointer;
    }
    
    .header-cta-container {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: flex-start;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
      }
    
      .sign-up2 {
        color: #ffffff;
        text-align: left;
        font-family: "Roboto-Medium", sans-serif;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        position: relative;
        text-decoration: none;
        border-radius: 8px;
        border-style: solid;
        border-color: #275c6f;
        border-width: 1px;
        /* padding: 8px; */
        padding: 12px 0;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 124px;
        position: relative;
      }
    
      .r-sign-up2 {
        color: #ffffff;
        text-align: left;
        font-family: "Roboto-Medium", sans-serif;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        position: relative;
        text-decoration: none;
        border-radius: 8px;
        background-color: black;
        padding: 12px 0;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 124px;
        position: relative;
      }
    
      .log-in {
        color: #ffffff;
        text-align: left;
        font-family: "Roboto-Medium", sans-serif;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        position: relative;
        text-decoration: none;
        background:#275c6f;
        border-radius: 8px;
        padding: 12px 0px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 124px;
        position: relative;
      }
    
      .r-log-in {
        color: #ffffff;
        text-align: left;
        font-family: "Roboto-Medium", sans-serif;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        position: relative;
        text-decoration: none;
        background: black;
        border-radius: 8px;
        padding: 12px 0px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 124px;
        position: relative;
      }

      .top-right .notification {
        padding: 8px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 120px;
        top: 25px;
      }
  
      .top-right .notification i {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
      }

      .notification .line {
        border-style: solid;
        border-color: var(--neutral-100, #000000);
        border-width: 1px 0 0 0;
        flex-shrink: 0;
        width: 64px;
        height: 0px;
        position: relative;
        transform-origin: 0 0;
        transform: rotate(90deg) scale(1, 1);
        margin-top: -70px;
      }

      .notification img {
        display: none;
        border-radius: 100px;
        width: 54px;
        height: 54px;
        overflow: hidden;
        object-fit: cover;
        text-decoration: none;
      }
    
      .top-right .profile {
        flex-shrink: 0;
        width: 180px;
        height: 64px;
        position: absolute;
        right: -5px;
        top: 16px;
    }

    .top-right .profile a {
      text-decoration: none;
      cursor: pointer;
    }
    
    .top-right .profile img {
        border-radius: 100px;
        width: 54px;
        height: 54px;
        overflow: hidden;
        object-fit: cover;
        text-decoration: none;
        cursor: pointer;

    }
    
    .top-right .name {
        padding: 8px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        width: 116px;
        height: 38px;
        position: absolute;
        right: 25px;
        top: 5px;
    }
    
    .top-right .name a  {
        color: black;
        text-align: left;
        font-family: "Roboto-Bold", sans-serif;
        font-size: 13px;
        line-height: 140%;
        font-weight: 400;
        position: relative;
        text-decoration: none;
    }
  
    .top-right .id {
      padding: 8px;
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      justify-content: center;
      width: 116px;
      height: 38px;
      position: absolute;
      right: -10px;
      top: 30px;
  }
  
  .top-right .id a  {
    color: #000;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 11px;
    line-height: 120%;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    text-decoration: none;
  }
    
    .dropdown {
        z-index: 1000;
        margin-left: 20px;
        position: absolute;
        top: 30px;
        right: 30px;
      }
    
      .dropdown a {
        color: black;
        text-decoration: none;
      }
    
      .dropdown button {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
    
      .dropdown-content {
        display: none;
        position: absolute;
        top: 50px;
        right: -20px;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000;
      }
    
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-family: "Roboto-Regular", sans-serif;
        line-height: 140%;
        font-weight: 400;
        z-index: 1000;
      }
    
      .dropdown-content a:hover {
        background-color: #f1f1f1;
      }
  
  
    @media only screen and (max-width: 767px) {
  .small-screen-navbar {
    /* background-color: #000000;
    padding: 30px 15px; */
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.1);
  
    background: #275c6f;
    padding: 4px 16px 4px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    position: sticky;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
  }
  
  .small-screen-navbar .logo {
    width: 127px;
    height: 35px;
    margin-top: 0px;
    margin-left: 30px;
  }
  
  .nav-list {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 64px;
      right: 0px;
      background-color: #333;
      z-index: 1000;
      align-items: flex-start;
      justify-content: flex-start;
  }
  
  .nav-list.show {
      display: flex;
      width: 50%;
      /* height: 80%; */
      padding-top: 40px;
      z-index: 1000;
      height: 600px;
  }
  
  .menu-toggle {
    display: block;
    display: flex;
    position: absolute;
    top: 20px;
    left: 10px;
  }
  
  .bar {
    height: 2px;
    width: 24px;
    background-color: white;
    margin: 3px 0;
  }
  
  .nav-list li {
      margin: 0;
      text-align: left;
      margin-left: 20px;
      font-size: 22px;
      margin: 10px 0 10px 20px;
      z-index: 1;
  }
  
  .nav-list a {
    font-size: 18px;
    font-family: "Roboto-Regular", sans-serif;
    align-items: center;
    justify-content: flex-start;
  }
  .nav-list .mobile-cta {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 18px;
    line-height: 19px;
    font-weight: 500;
    position: relative;
    text-decoration: none;
    border-radius: 8px;
    border-style: solid;
    border-color: #275c6f;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 94px;
    height: 38px;
    position: relative;
    }
  
    .nav-list .mobile-cta a {
      font-size: 16px;
    }
  
  .header-cta-container {
    display: flex;
    gap: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .header-cta-container .sign-up2 {
    border-radius: 8px;
    border-style: solid;
    border-color: #ffa76d;
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 45px;
    height: 15px;
    position: relative;
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
    position: relative;
  }
  
  .header-cta-container .log-in {
    background: #ffa76d;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 45px;
    height: 15px;
    position: relative;
    color: var(--neutral-600, #ffffff);
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
  }
  
  .header-cta-container .r-sign-up2 {
    border-radius: 8px;
    border-style: solid;
    border-color: #ffa76d;
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 45px;
    height: 15px;
    position: relative;
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
    position: relative;
  }
  
  .header-cta-container .r-log-in {
    background: #ffa76d;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 45px;
    height: 15px;
    position: relative;
    color: var(--neutral-600, #ffffff);
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
  }
  
  .small-screen-navbar .top-right {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  .top-right .notification {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    right: 80px;
    top: 12px;
  }

  .notification i {
    color: #ffffff;
    margin-top: 4px;
  }
  
  .notification .line {
    border-style: solid;
    border-color: var(--secondary-orange-100, #ffa76d);
    border-width: 1px 0 0 0;
    flex-shrink: 0;
    width: 24px;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
    margin-top: 0px;
    margin-left: -5px;
  }
  
  .top-right .profile {
    position: absolute;
    top: 0;
    right: -32px;
  }
  
  .top-right .profile img {
    position: absolute;
    top: 20px;
    left: 40px;
    border-radius: 100px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
  }
  
  .dropdown {
    position: absolute;
    top: 23px;
    right: 10px;
  }
  
  .dropdown-content {
    top: 40px;
  }
  
  .dropdown-content a {
    font-size: 14px;
  }
  
  .top-right .name {
    position: absolute;
    top: 0;
    right: -10px;
  }
  
  .top-right .name a {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 120%;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .top-right .id {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 38px;
    position: absolute;
    right: -45px;
    top: 12px;
  }
  
  .top-right .id a  {
  color: var(--neutral-600, #ffffff);
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 8px;
  line-height: 120%;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  text-decoration: none;
  }
      
    } 
  
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .small-screen-navbar {
        /* background-color: #000000;
        padding: 30px 15px; */
        box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.1);
      
        background: #275c6f;
        padding: 4px 16px 4px 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 56px;
        position: sticky;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
        /* overflow: hidden; */
      }
      
      .small-screen-navbar .logo {
        width: 127px;
        height: 35px;
        margin-top: 0px;
        margin-left: 30px;
      }
      
      .nav-list {
          display: none;
          flex-direction: column;
          width: 100%;
          position: absolute;
          top: 64px;
          right: 0px;
          background-color: #333;
          z-index: 1000;
          align-items: flex-start;
          justify-content: flex-start;
      }
      
      .nav-list.show {
          display: flex;
          width: 50%;
          /* height: 80%; */
          padding-top: 40px;
          z-index: 1000;
          height: 600px;
      }
      
      .menu-toggle {
        display: block;
        display: flex;
        position: absolute;
        top: 20px;
        left: 10px;
      }
      
      .bar {
        height: 2px;
        width: 24px;
        background-color: white;
        margin: 3px 0;
      }
      
      .nav-list li {
          margin: 0;
          text-align: left;
          margin-left: 20px;
          font-size: 22px;
          margin: 10px 0 10px 20px;
          z-index: 1;
      }
      
      .nav-list a {
        font-size: 18px;
        font-family: "Roboto-Regular", sans-serif;
        align-items: center;
        justify-content: flex-start;
      }
      .nav-list .mobile-cta {
        color: #ffffff;
        text-align: left;
        font-family: "Roboto-Medium", sans-serif;
        font-size: 18px;
        line-height: 19px;
        font-weight: 500;
        position: relative;
        text-decoration: none;
        border-radius: 8px;
        border-style: solid;
        border-color: #275c6f;
        border-width: 1px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 94px;
        height: 38px;
        position: relative;
        }
      
        .nav-list .mobile-cta a {
          font-size: 16px;
        }
      
      .header-cta-container {
        display: flex;
        gap: 8px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      
      .header-cta-container .sign-up2 {
        border-radius: 8px;
        border-style: solid;
        border-color: #ffa76d;
        border-width: 1px;
        padding: 8px 16px 8px 16px;
        display: flex;
        background-color: transparent;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 45px;
        height: 15px;
        position: relative;
        color: #ffffff;
        text-align: left;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 12px;
        line-height: 120%;
        font-weight: 400;
        position: relative;
      }
      
      .header-cta-container .log-in {
        background: #ffa76d;
        border-radius: 8px;
        padding: 8px 16px 8px 16px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 45px;
        height: 15px;
        position: relative;
        color: var(--neutral-600, #ffffff);
        text-align: left;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 12px;
        line-height: 120%;
        font-weight: 400;
      }
      
      .header-cta-container .r-sign-up2 {
        border-radius: 8px;
        border-style: solid;
        border-color: #ffa76d;
        border-width: 1px;
        padding: 8px 16px 8px 16px;
        display: flex;
        background-color: transparent;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 45px;
        height: 15px;
        position: relative;
        color: #ffffff;
        text-align: left;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 12px;
        line-height: 120%;
        font-weight: 400;
        position: relative;
      }
      
      .header-cta-container .r-log-in {
        background: #ffa76d;
        border-radius: 8px;
        padding: 8px 16px 8px 16px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 45px;
        height: 15px;
        position: relative;
        color: var(--neutral-600, #ffffff);
        text-align: left;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 12px;
        line-height: 120%;
        font-weight: 400;
      }
      
      .small-screen-navbar .top-right {
        position: absolute;
        top: 0px;
        right: 0px;
      }
      
      .top-right .notification {
        padding: 8px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        right: 80px;
        top: 12px;
      }
    
      .notification i {
        color: #ffffff;
        margin-top: 4px;
      }
      
      .notification .line {
        border-style: solid;
        border-color: var(--secondary-orange-100, #ffa76d);
        border-width: 1px 0 0 0;
        flex-shrink: 0;
        width: 24px;
        height: 0px;
        position: relative;
        transform-origin: 0 0;
        transform: rotate(90deg) scale(1, 1);
        margin-top: 0px;
        margin-left: -5px;
      }
      
      .top-right .profile {
        position: absolute;
        top: 0;
        right: -32px;
      }
      
      .top-right .profile img {
        position: absolute;
        top: 20px;
        left: 40px;
        border-radius: 100px;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        position: relative;
        overflow: hidden;
        object-fit: cover;
      }
      
      .dropdown {
        position: absolute;
        top: 23px;
        right: 10px;
      }
      
      .dropdown-content {
        top: 40px;
      }
      
      .dropdown-content a {
        font-size: 14px;
      }
      
      .top-right .name {
        position: absolute;
        top: 0;
        right: -10px;
      }
      
      .top-right .name a {
        color: #ffffff;
        text-align: left;
        font-family: "Roboto-Regular", sans-serif;
        font-size: 12px;
        line-height: 120%;
        font-weight: 400;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      
      .top-right .id {
        padding: 8px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        justify-content: center;
        width: 116px;
        height: 38px;
        position: absolute;
        right: -45px;
        top: 12px;
      }
      
      .top-right .id a  {
      color: var(--neutral-600, #ffffff);
      text-align: left;
      font-family: "Roboto-Regular", sans-serif;
      font-size: 8px;
      line-height: 120%;
      font-weight: 400;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      text-decoration: none;
      }
          
        } 
      
    