body {
    margin: 0;
    font-family: "Roboto-Regular", sans-serif;
}
.settings-main-content {
    background: #ffffff;
    height: 900px;
    width: 1000px;
    overflow-x: hidden;
    overflow-y: initial;
    position: absolute;
    top: 100px;
    left: 260px;
  }

.settings-main-content {
    height: 910px;
    width: 1000px;
    position: absolute;
    top: 100px;
    left: 260px;
    overflow: hidden;
}

.settings-container {
    display: flex;
}

.tabs {
    background-color: #f2f2f2;
    padding: 10px;
    min-width: 150px;
}

.tab {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 19px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
}

.tab:hover {
    background-color: #ddd;
}

.settings-content {
    padding: 10px;
    flex-grow: 1;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size:19px;
    line-height: 140%;
    font-weight: 400;
    margin-left: 100px;
    margin-top: -20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-content p {
    color: #495057;
    font-family: "Roboto-Regular", sans-serif;
    font-size:19px;
    line-height: 140%;
    font-weight: 600;
}

/* style for personal info and preferences */
form {
    padding: 0px 0;
}

form label {
    display: block;
    width: 100%;
    color: #495057;
    font-family: "Roboto-Regular", sans-serif;
    font-size:19px;
    line-height: 140%;
    font-weight: 400;
    margin-top: 10px;
}

form input[type=text] {
    padding: 10px;
    width: 300px;
    font-size: 19px;
}

form input[type=email] {
    padding: 10px;
    width: 300px;
    font-size: 19px;
}

form input[type=password] {
    padding: 10px;
    width: 300px;
    font-size: 19px;
}

form select {
    padding: 10px;
    width: 300px;
}

form input[type=file] {
    padding: 10px;
    width: 300px;
    border: 1px solid black;
}

form button {
    display: block;
    height: 56px;
    background-color: #275c6f;
    color: white;
    outline: none;
    border: none;
    font-family: "Roboto-Regular", sans-serif;
    font-size:19px;
    line-height: 140%;
    font-weight: 500;
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    body {
        font-family: "Roboto-Regular", sans-serif;
    }

    .settings-main-content {
        display: block;
        height: fit-content;
        width: 100%;
        position: initial;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .settings-container {
        display: block;
        width: 95%;
        margin: 0 auto 0 auto;
        position: absolute;
        top: 70px; 
        overflow-x: hidden;
    }

    .settings-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        width: 100%;
        margin-bottom: 150px;
    }

    .tab-content p {
        font-size: 17px;
        font-weight: 600;
    }

    form label {
        font-size: 16px;
    }
    
    form input {
        border: 1px solid rgb(115, 114, 114);
        border-radius: 5px;
    }

    form select {
        border: 1px solid rgb(115, 114, 114);
        border-radius: 5px;
        width: 100%;
    }

    form button {
        font-size: 17px;
        outline: none;
        border: none;
        border-radius: 8px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-family: "Roboto-Regular", sans-serif;
    }

    .settings-main-content {
        display: block;
        height: fit-content;
        width: 100%;
        position: initial;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .settings-container {
        display: block;
        width: 90%;
        margin: 0 auto 0 auto;
        position: absolute;
        top: 70px; 
    }

    .settings-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0 auto;
        position: relative;
        width: 100%;
        margin-bottom: 150px;
        margin-left: 40px;
    }

    .tab-content p {
        font-size: 17px;
        font-weight: 600;
    }

    form label {
        font-size: 16px;
    }
    
    form input {
        border: 1px solid rgb(115, 114, 114);
        border-radius: 5px;
    }

    form select {
        border: 1px solid rgb(115, 114, 114);
        border-radius: 5px;
        width: 100%;
    }

    form button {
        font-size: 17px;
        outline: none;
        border: none;
        border-radius: 8px;
    }

}