.ms-body {
    margin-bottom: 80px;
    width: 100%;
}

#timer {
    font-size: 2em;
    color: #333;
    font-family: "Roboto-Regular", sans-serif;
    line-height: 140%;
    width: 100%;
  }

  #hour, #minute, #second {
    border: 2px solid #333;
    padding: 10px;
    margin: 0 10px;
    border-radius: 2px;
    color: #20a612;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 19px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
  }

.assessment-timer {
    display: block;
    position: relative;
    margin-left: 750px;
    margin-top: 10px;
}

#timer i {
    font-size: 27px;
    margin-right: 0px;
}

#quiz-container {
    display: block;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 600px;
    background-color: #fff;
    border: 1px solid black;
    overflow-y: scroll;
}

.question {
    margin-bottom: 10px;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    margin-bottom: 30px;
}

.options {
    list-style-type: none;
    padding: 0;
}

.option {
    margin-bottom: 10px;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 13px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
}

#submit-btn {
    background-color: #275c6f;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #3d6b7b;
}

#score {
    margin-top: 20px;
    font-weight: bold;
}

.question ul {
    margin-top: 0px;
}

.question ul li {
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    /* margin-top: 30px; */
    margin-left: -10px;
}

.quiz-btn-wrapper {
    display: flex;
    width: 99%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.quiz-btn-wrapper a {
    background: #275c6f;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 56px;
    color: #ffffff;
    text-align: left;
    font-family:"Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-btn-wrapper .prev {
    background: #ced4da;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 184px;
    height: 56px;
    color: #ffffff;
    text-align: left;
    font-family:"Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#score-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    z-index: 1000;
    text-align: center;
    background: #ffffff;
    height: 500px;
    width: 900px;
    box-shadow: 4px 4px 50px 98px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.decor {
    border-style: dashed;
    border-color: #3d6b7b;
    border-width: 1px;
    width: 100%;
    height: 100%;
}

.modal-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.decor .time-completion {
    border-style: solid;
    border-color: #275c6f;
    border-width: 1px;
    padding: 16px 10px;
    gap: 16px;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 23px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
}

.assessment-status {
    padding: 8px 16px 8px 16px;
    display: flex;
    gap: 8px;
    position: relative;
    color: #3d6b7b;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 28px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
}

.course-result-title {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: #275c6f;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
    margin-top: -20px;
}

#modal-score {
    color: #495057;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 33px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
    margin-top: -20px;
}

.modal-percent {
    color: #495057;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 140%;
    font-weight: 700;
    margin-top: -20px;
}

.modal-percent span {
    color: #20a612;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 40px;
  line-height: 140%;
  font-weight: 700;
}

.congrat {
    color: #275c6f;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 23px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cert-wrapper {
    display: block;
    width: 336px;
    margin: 0 auto;
}

.cert-link {
    background: #275c6f;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 336px;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold",sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
}

.cert-link {
    background-color: #3d6b7b;
}

 /* Style for overlay background */
 .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

/* Style for modal content */
.modal {
    width: 900px;
    height: 400px;
    background-color: #fff;
    padding: 5px 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

/* Style for close button */
.close-btn {
    background-color: #275c6f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.close-btn:hover {
    background-color: #3d6b7b;
}

.modal .para1 {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: #275c6f;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 48px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
}

.modal .para2 {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    color: #ffa76d;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 48px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
    margin-top: -50px;
}

@media (max-width: 768px) {
    .ms-body {
        margin-bottom: 80px;
        width: 100%;
    }

    .ms-main-content {
        height: 100%;
    }

    .assessment-timer {
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        text-align: center;
    }

    #timer i {
        font-size: 23px;
        margin-right: -10px;
    }

    #hour, #minute, #second {
        font-size: 17px;
        margin: 0 5px;
        padding: 5px;
    }

    #quiz-container {
        display: block;
        width: 100%;
        padding: 5px;
    }

    .quiz-btn-wrapper a{
        padding: 0px 3px 0px 3px;
        gap: 2px;
        width: 80px;
    }

    .quiz-btn-wrapper .prev {
        padding: 0px 3px 0px 3px;
        gap: 2px;
        width: 80px;
    }

    #submit-btn {
        padding: 0px 3px 0px 3px;
        width: 80px;
    }

    #score-modal {
        width: 90%;
        height: fit-content;
    }

    .decor {
        padding-bottom: 10px 0px;
    }

    .modal-title {
        display: block;
        width: 100%;
        margin-left: 0px;
    }

    .decor .time-completion {
        display: block;
        width: 30%;
        margin: 10px auto 0 auto;
        text-align: center;
        font-size: 15px;
    }

    .assessment-status {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
    }

    .course-result-title {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 22px;
        margin-bottom: 50px;
    }

    #modal-score {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .modal-percent {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .modal-percent span {
        font-size: 22px;
        font-weight: 600;   
    }

    .congrat {
        font-size: 18px;
        font-weight: 500;
    }

   .cert-wrapper {
        display: block;
        width: 60%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    .cert-wrapper .cert-link {
        padding: 5px 10px;
        height: 0px;
        width: 100%;
        font-weight: 500;
        background: #275c6f;
        border-radius: 8px;
        height: 36px;
        color: #ffffff;
        text-align: center;
        font-family: "Roboto-Bold",sans-serif;
        font-size: 16px;
        line-height: 140%;
        font-weight: 500;
        position: relative;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .modal {
        width: 85%;
        height: 350px;
        border: 1px solid black;
    }

    .modal .para1 {
        font-size: 28px;
        width: 100%;
    }

    .modal .para2 {
        font-size: 28px;
        width: 100%;
    }
}